.root {
    position: relative;

    padding: 30px;

    flex: 1;
    display: flex;
    gap: 10px;
    flex-direction: column;

    overflow-y: scroll;

    border: 1px solid var(--colour-chrome-1);
    border-radius: 2px;
}

.root.wrapContent {
    flex-basis: auto
}

.root.wide {
    flex: 8;
}

.root.row {
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 8px 20px;
}

.root.sm {
    
}

.label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 5%;
    flex-shrink: 0;
    white-space: nowrap;
}

.loader {
    position: absolute;
    top: 5px; left: 5px;

    opacity: 0;
    transition: opacity 320ms var(--ease-sine);
}

.loading .loader {
    opacity: 1;
}

@media (max-width: 1300px) {
    .root {
        padding: 20px;
    }
}

@media (max-width: 640px) {
    .root {
        padding: 11px;
    }
}
