.root {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 362px;
}

.label {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.countdown {
    font-family: var(--font-stack-mono);
    font-size: 48px;
    letter-spacing: -5%;
    line-height: 100%;
}