.root {
    font-size: 18px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.root img {
    max-width: 100%;
}

.root h2 {
    font-size: 40px;
    margin-top: 1.5em;
}

.root h3 {
    font-size: 30px;
    margin-top: 1.5em;
}

.root a {
    color: var(--colour-active-0);
    font-weight: bold;
    text-shadow: 0 0 6px hsl(var(--colour-active-1));
    text-decoration: underline;
}