/* Lots of stuff here is copied from button styles. */

.root {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.game {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 2px solid var(--colour-action-0);
    border-radius: 8px;
    box-shadow:
        hsla(var(--colour-action-1), 10%) 0 0 6px,
        hsla(var(--colour-action-1), 10%) 0 0 6px inset;
    
    cursor: pointer;

    font-size: 14px;
    font-weight: medium;
    text-shadow: hsla(var(--colour-action-1), 10%) 0 0 6px;
    user-select: none;

    transition: all 240ms var(--ease-sine); 
}

.gameTitle {}

.gameScore {
    
}

.game:hover {
    border-color: var(--colour-active-0);
    box-shadow:
        hsla(var(--colour-active-1), 100%) 0 0 6px,
        hsla(var(--colour-active-1), 100%) 0 0 6px inset;
    text-shadow: hsla(var(--colour-active-1), 100%) 0 0 6px;
}

.game:active {
    text-shadow: hsla(var(--colour-active-1), 100%) 0 0 12px;
}